
.mat-accordion#report_ .mat-expansion-panel-header-title {
    color: black;
  }
  .mat-accordion#report_ .mat-expansion-panel-header-description {
    color: black;
  } 

   .mat-row:nth-child(odd),.mat-row {

    background-color:transparent;
  }  

  .pending td
  {
    color: brown;
  
  }
  .completed td
  {
    color: green;
  
  }
  .mat-header-cell
  {
    background-color: whitesmoke;
  }
    
  .mat-success {
   
    color: green;
}

.mat-progress-bar 
{
  height: 15px;
}

#linesProgressBar
{

  height: 20px;
  width: 70%;
  margin-left: 10px;
  padding-top: 3px;
}

.text-input
{
  width: 100%;
  border-color: gainsboro;
  border-style: solid;
  border-radius: 5px;
}

.mat-column-actions
{

  width: 100px !important;
}
mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.mat-drawer-container
{
  background-color: transparent;
  border: none;
}
.selected
{
    color: gray;
}