/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* .mat-row:nth-child(even){
    background-color:red;
    } */

.mat-row:nth-child(odd) {
  background-color: #dee2e6;
}

.mat-column-comments {
  max-width: 400px;
}

/*.mat-column-amount {
  text-align: center !important;
  width: 85px;
}*/
td.mat-column-amount {
  padding-left: 10px !important;
}

/*.mat-expansion-panel {
  width: 700px;
}*/
/*mat-grid-tile {
  background: lightblue;
}*/
.example-container {
  width: 100%;
  border: 1px solid #555;
}

.mat-card {
  min-width: 350px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.mat-accordion#report .mat-expansion-panel-header-title {
  color: black;
}

.mat-expansion-panel-header-title {
  width: 300px;
}

.mat-list-item-content span:nth-child(4) {
  width: 280px
}

#transactions-popup .mat-column-amount {
  padding-left: 10px;
  text-align: center;
  width: 85px;
}
#transactions-popup .mat-row:nth-child(odd) {
  background-color: floralwhite !important;
}
#transactions-popup tr.mat-footer-row, #transactions-popup tr.mat-row {
  height: auto !important;
}
#transactions-popup tr.mat-header-row {
  height: auto;
  /*background-color: #c5c9da;*/
  background-color: #376cad4a;
}
.link-active {
  font-weight: bold;
  /*color: rebeccapurple !important;*/
}

