/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* .mat-row:nth-child(even){
    background-color:red;
    } */

.mat-row:nth-child(odd){
    background-color:#dee2e6;
    }

.mat-column-comments {
  max-width: 500px;
}
/*mat-grid-tile {
  background: lightblue;
}*/
.example-container {
  width: 100%;
  border: 1px solid #555;
}
.mat-card {
  min-width: 350px;
}
