<div class="container">
  <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction(transactionForm.value)">
    <h3>
      <mat-icon>{{iconType}}</mat-icon>{{actionName}} {{labelTitle}}
    </h3>
    <fieldset>
      <mat-form-field style="width: 49%; margin-right: 1%;" appearance="outline">
        <mat-label>{{labelDate}}</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" placeholder="{{labelDate}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 49%; margin-left: 1%;" appearance="outline">
        <mat-label>Apartment</mat-label>
        <mat-select formControlName="apartmentId">
          <mat-option *ngFor="let apartment of apartments" [value]="apartment.id">
            {{apartment.address}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>

    <fieldset>
      <mat-form-field style="width: 50%" appearance="outline">
        <mat-label>Account</mat-label>
        <mat-select formControlName="accountId">
          <mat-option *ngFor="let account of accounts" [value]="account.id">
            {{account.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox style="width: 50%; padding-left: 25px" formControlName="isPurchaseCost">Purchase Cost?
      </mat-checkbox>
    </fieldset>

    <fieldset>
      <mat-form-field *ngIf="isHourForm" style="width: 100%" appearance="outline" class="example-full-width">
        <mat-label>Hours</mat-label>
        <input #_hours formControlName="hours" type="number" min="0.1" matInput placeholder="Hours">
        <!-- yp: from 1.7.2024 Stella moves to global salary -->
        <!-- <mat-hint align="start">{{_hours.value*10}}</mat-hint> -->
      </mat-form-field>

      <mat-form-field *ngIf="!isHourForm" style="width: 49%; margin-right: 1%;" appearance="outline"
        class="example-full-width">

        <mat-icon matTooltip="This action will affect your balance"
          *ngIf="transactionForm.controls.bankAccountId.value==0 || transactionForm.controls.accountId.value==202"
          matSuffix>
          money</mat-icon>
        <mat-icon matTooltip="This action will NOT affect your balance"
          *ngIf="transactionForm.controls.bankAccountId.value!=0 && transactionForm.controls.accountId.value!=202"
          matSuffix>
          credit_card</mat-icon>
        <mat-label>
          Amount (€)
        </mat-label>
        <input style="padding-left:2px" matInput formControlName="amount" type="number" min="0"
          placeholder="Amount (€)">
        <!-- <mat-icon matTooltip="{{tooltipSign}}" matPrefix class="icon-prefix-padding">{{signIcone}}</mat-icon> -->
        <mat-icon *ngIf="enableSwitch" matTooltip="Switch Sign" style="cursor:pointer" (click)="switchSign()" matSuffix>
          repeat</mat-icon>

      </mat-form-field>

      <mat-form-field *ngIf="data.type != 'hours'" style="width: 49%; margin-left: 1%;" appearance="outline">
        <mat-label>Bank Account</mat-label>
        <mat-select formControlName="bankAccountId">
          <mat-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">
            {{bankAccount.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!--
      <div style="display: inline;color: cornflowerblue;" *ngIf="transactionForm.controls.bankAccountId.value!=0">
        Please denote the bank account </div> -->
    </fieldset>
    <fieldset>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Comments</mat-label>
        <textarea formControlName="comments" matInput cdkTextareaAutosize required #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </fieldset>

    <div>
    </div>

    <fieldset>
      <button mat-flat-button color="primary" name="submit" type="submit" id="contact-submit"
        data-submit="...Sending">Submit</button>

    </fieldset>

  </form>
</div>