<h1>Expenses & Hours</h1>

<p>
  Here you can log in any expense you had and the hours worked.
  <button mat-mini-fab (click)="openAddExpensesDialog()" title="Log expenses">
    <mat-icon>attach_money</mat-icon>
  </button>
  <button mat-mini-fab (click)="openAddHoursDialog()" title="Log working hours">
    <mat-icon>timer</mat-icon>
  </button>
  <br />
  Your personal account balance is <b>€{{assistantBalance}}</b>
  <!--<expenses-form></expenses-form>-->
</p>
<p *ngIf="!dataSourceAssistant.data"><em>Loading...</em></p>

<div style="width:100%; float:left; margin-left:3px" id="tbl">
  <table mat-table [dataSource]="dataSourceAssistant" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd-MM-yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell
          [ngClass]="{
          positive: isPositive(transaction.amount),
          negative: !isPositive(transaction.amount)
        }"
          *matCellDef="let transaction">
        {{transaction.amount}}
      </td>
    </ng-container>
    <ng-container matColumnDef="apartmentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apartment</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.apartmentAddress}}</td>
    </ng-container>
    <ng-container matColumnDef="accountId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.accountName}}</td>
    </ng-container>
    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hours</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.hours}}</td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
      <td mat-cell *matCellDef="let transaction">
        <!--<mat-icon>info</mat-icon>-->
        {{transaction.comments}}
      </td>

    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let transaction"><button (click)="openEdit(transaction.id)" mat-flat-button color="primary">Edit</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAssistant"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAssistant"></tr>

  </table>
</div>

<!--<mat-form-field>
    matTooltip="{{transaction.comments}}"
  <input type="text" matInput (keyup)="doFilter($event.target.value)"  [(ngModel)]="selectedApartment"  name="selectedApartment">
</mat-form-field>-->
