
<button class="add-item" *ngIf="editable" mat-mini-fab (click)="openForm(0)" title="Add personal transaction">
  <mat-icon>add</mat-icon>
</button>


<span>
  Personal account balance is <b [ngClass]="{
          positive: isPositive(balance),
          negative: !isPositive(balance)
        }">{{balance | currency:'EUR' : 'symbol':'1.0-0'}}</b>
</span>
<p *ngIf="!dataSourceTrans.data"><em>Loading...</em></p>
<br />
<!--<p>
  Icon with a badge
  <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
</p>-->
<mat-chip-list>
  <mat-chip (click)="switchFilter('paidOnBehalf')"
            [ngClass]="{'hide-type':show_paidOnBehalf,'show-type':!show_paidOnBehalf}">
    <mat-icon style="font-size:20px;"
              matTooltip="Paid on behalf">
      money
    </mat-icon>
  </mat-chip>
  <mat-chip (click)="switchFilter('profitDistribution')"
            [ngClass]="{'hide-type':show_profitDistribution,'show-type':!show_profitDistribution}">
    <mat-icon style="font-size:20px;"
              matTooltip="Profit distribution">
      trending_up
    </mat-icon>
  </mat-chip>
  <mat-chip (click)="switchFilter('cashWithdrawal')"
            [ngClass]="{'hide-type':show_cashWithdrawal,'show-type':!show_cashWithdrawal}">
    <mat-icon style=" font-size:20px;"
              matTooltip="Cash withdrawal">
      atm
    </mat-icon>
  </mat-chip>
  <mat-chip (click)="switchFilter('moneyTransfer')"
            [ngClass]="{'hide-type':show_moneyTransfer,'show-type':!show_moneyTransfer}">
    <mat-icon style=" font-size:20px;"
              matTooltip="Money transfer">
      swap_horiz
    </mat-icon>
  </mat-chip>
  <mat-chip (click)="switchFilter('')" >
    <mat-icon style=" font-size:20px;"
              matTooltip="Show All">
      <!--[ngClass]="{'hide-type':show_moneyTransfer,'show-type':!show_moneyTransfer}">-->
      cancel
    </mat-icon>
  </mat-chip>
</mat-chip-list>
<br />
<!--<mat-icon id="paidOnBehalf" (click)="switchFilter('paidOnBehalf')" style="margin-right:25px; font-size:40px; cursor:pointer"
          matTooltip="Paid on behalf"
          [ngClass]="{'hide-type':show_paidOnBehalf,'show-type':!show_paidOnBehalf}">
  money
</mat-icon>

<mat-icon id="profiDistribution" (click)="switchFilter('profiDistribution')"  style="margin-right:25px; font-size:40px; cursor:pointer"
          matTooltip="Profit distribution"
          [ngClass]="{'hide-type':show_profitDistribution,'show-type':!show_profitDistribution}">
  trending_up
</mat-icon>


<mat-icon id="cashWithdrawal" (click)="switchFilter('cashWithdrawal')"  style="margin-right:25px; font-size:40px; cursor:pointer"
          matTooltip="Cash withdrawal"
          [ngClass]="{'hide-type':show_cashWithdrawal,'show-type':!show_cashWithdrawal}">
  atm
</mat-icon>


<mat-icon id="moneyTransfer" (click)="switchFilter('moneyTransfer')"  style="margin-right:25px; font-size:40px; cursor:pointer"
          matTooltip="Money transfer"
          [ngClass]="{'hide-type':show_moneyTransfer,'show-type':!show_moneyTransfer}">
  swap_horiz
</mat-icon>
<mat-icon id="moneyTransfer" (click)="switchFilter('')" style="margin-right:25px; font-size:40px; cursor:pointer"
          matTooltip="Show All"
          [ngClass]="{'hide-type':show_moneyTransfer,'show-type':!show_moneyTransfer}">
  cancel
</mat-icon>

<mat-icon id="moneyTransfer" (click)="switchFilter('')"  style="margin-right:25px; font-size:40px; cursor:pointer"
          matTooltip="Show All"
          [ngClass]="{'hide-type':show_moneyTransfer,'show-type':!show_moneyTransfer}">
  remove_red_eye
</mat-icon>-->
<!--<mat-icon matTooltip="Paid on behalf" *ngIf="transaction.transactionType==10">money</mat-icon>
<mat-icon matTooltip="Profit distribution" *ngIf="transaction.transactionType==20">trending_up</mat-icon>
<mat-icon matTooltip="Cash withdrawal" *ngIf="transaction.transactionType==13">atm</mat-icon>
<mat-icon matTooltip="Money transfer" *ngIf="transaction.transactionType==5">swap_horiz</mat-icon>-->




<div id="tbl">
  <table style="width: 100%;" mat-table [dataSource]="dataSourceTrans" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd-MM-yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell
          [ngClass]="{
          positive: isPositive(transaction.amount),
          negative: !isPositive(transaction.amount)
        }"
          *matCellDef="let transaction">
        {{transaction.amount | currency:'EUR' : 'symbol':'1.0-0'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="transactionType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let transaction">
        <mat-icon matTooltip="Paid on behalf" *ngIf="transaction.transactionType==10">money</mat-icon>
        <mat-icon matTooltip="Profit distribution" *ngIf="transaction.transactionType==20">trending_up</mat-icon>
        <mat-icon matTooltip="Cash withdrawal" *ngIf="transaction.transactionType==13">atm</mat-icon>
        <mat-icon matTooltip="Money transfer" *ngIf="transaction.transactionType==5">swap_horiz</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="apartment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apartment</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.apartmentAddress}}</td>
    </ng-container>
    <ng-container matColumnDef="stakeholderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stakeholder</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.stakeholderName}}</td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
      <td mat-cell *matCellDef="let transaction">
        {{transaction.comments}}
      </td>

    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let transaction">
        <button (click)="openForm(transaction.id)" mat-button color="primary">Edit</button>
        <button (click)="delete(transaction.id)" mat-button color="warn">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
  <button mat-button color="primary" (click)="exportAsXLSX()">Export to Excel</button>

</div>

