.add-item {
  top: 46px;
  left: 88%;
}

.mat-column-date {
  width: 100px;
}

.mat-column-amount {
  width: 90px;
}

.mat-column-actions {
  width: 245px;
}

/*#moneyTransfer .mat-badge-content {
  background-color: gray;
  color: white;
}*/

.show-type {
  color: gray;
  background-color: #3f51b5;
  cursor: pointer;
}

.hide-type {
  color: white;
  background-color: #3f51b5;
  cursor: pointer;
}

.clickable
{
  cursor: pointer;
}

