
<button class="add-item" *ngIf="editable" mat-mini-fab (click)="openForm(0)" title="Add personal transaction">
  <mat-icon>add</mat-icon>
</button>


<span > Personal account balance is <b [ngClass]="{
          positive: isPositive(balance),
          negative: !isPositive(balance)
        }">{{balance | currency:'EUR' : 'symbol':'1.0-1'}}</b></span>
<p *ngIf="!dataSourceTrans.data"><em>Loading...</em></p>
<div id="tbl">
  <table style="width: 100%;" mat-table [dataSource]="dataSourceTrans" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd-MM-yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell
          [ngClass]="{
          positive: isPositive(transaction.amount),
          negative: !isPositive(transaction.amount)
        }"
          *matCellDef="let transaction">
        {{transaction.amount | currency:'EUR' : 'symbol':'1.0-1'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="apartment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apartment</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.apartmentAddress}}</td>
    </ng-container>
    <ng-container matColumnDef="stakeholderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stakeholder</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.stakeholderName}}</td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
      <td mat-cell *matCellDef="let transaction">
        {{transaction.comments}}
      </td>

    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let transaction">
        <button (click)="openForm(transaction.id)" mat-button color="primary">Edit</button>
        <button (click)="delete(transaction.id)" mat-button color="warn">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
</div>

