<p *ngIf="!issues">Loading...</p>

<div style="width: 50%;" *ngIf="issues">


<mat-card class="example-card" *ngFor="let issue of issues; let i = index">
    <mat-card-header>
      <div mat-card-avatar 
      [matTooltip]="issue.priority==1?'High Priority':(issue.priority==2?'Mid Priority':(issue.priority==3?'Low Priority':'')) "
      [ngClass]="{'priority-high' : issue.priority==1,
                  'priority-mid' : issue.priority==2,
                  'priority-low' : issue.priority==3}" 
      class="example-header-image"></div>
      <mat-card-title>{{issue.title}}</mat-card-title>
      <mat-card-subtitle>{{issue.dateOpen | date:'dd-MM-yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
          {{issue.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>


      <mat-accordion>
        <mat-expansion-panel (opened)="onMessagePanelOpen(issue)"
                            (closed)="onMessagePanelClose(issue)" >
          <mat-expansion-panel-header >
            <mat-panel-title >

        <div id="titleForNew" *ngIf="issue.messages.length==0">
          <div *ngIf="!issue.showNewTextInput">
            <mat-icon mat-list-icon>add_comment</mat-icon>
            Write a message
          </div>
          <!-- <button mat-button (click)="issue.showNewTextInput=true" *ngIf="!issue.showNewTextInput" >
          <mat-icon mat-list-icon>add_comment</mat-icon>
          Write a message</button>  -->
        </div>


        <div id="titleForExisting" *ngIf="issue.messages.length>0">
      
          <mat-icon *ngIf="checkNewMessages(issue)" 
          matBadgePosition="before"
          matBadge="{{issue.messages.length}}" 
          matBadgeColor="warn" [matBadgeHidden]="hidden" >mark_email_unread</mat-icon>

          <mat-icon *ngIf="!checkNewMessages(issue)" 
          matBadgePosition="before"
          matBadge="{{issue.messages.length}}" 
          matBadgeColor="primary" [matBadgeHidden]="hidden" >mail</mat-icon>

          <!-- <mat-icon *ngIf="!checkNewMessages(issue)"
          matBadgePosition="before"
           mat-list-icon>mark_email_unread</mat-icon> -->
                      <!-- <mat-icon mat-list-icon>insert_comment</mat-icon> -->
                      <!-- {{issue.isOpen?'Hide ':'Show '}} {{issue.messages.length}} messages
                      <mat-icon *ngIf="checkNewMessages(issue)" mat-list-icon>mark_email_unread</mat-icon>
        
         -->
                    </div>

            </mat-panel-title>
            <mat-panel-description>
              <!-- <span>Show Discussion</span> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
     

          <ng-container *ngIf="issue.messages.length==0">

          
            <mat-form-field style="width: 100%;" *ngIf="issue.showNewTextInput">
              <mat-label>Comments</mat-label>
              <textarea style="overflow:hidden;"
                        placeholder="Write here your comments or message"
                        matInput
                        cdkTextareaAutosize
                        required
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="5"></textarea>
                        <!-- <span matPrefix>Stella: &nbsp;</span> -->
                      
                        <mat-icon matTooltip="Save" matSuffix style="color:green; cursor: pointer;">done</mat-icon>
                        <mat-icon matTooltip="Cancel" (click)="issue.showNewTextInput=false; accordion.closeAll()" matSuffix 
                        style="color: red; cursor: pointer;">clear</mat-icon>
                        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
          </ng-container>


          <div *ngFor="let message of issue.messages; let j=index">

            <!-- <mat-icon *ngIf="!message.isRead" mat-list-icon>mark_email_unread</mat-icon> -->
            <div *ngIf="!message.showTextInput" class="readOnlyMessage">
              <span>
                {{message.userName}}: 
              </span>
              <span  *ngIf="message.isRead" (click)="message.showTextInput=true" style="cursor: pointer;">
              {{message.description}}
            </span>
  
            <span (click)="message.isRead=true" class="readMessage" *ngIf="!message.isRead">
                Read Message 
              <mat-icon style="position:relative;top: 7px; " *ngIf="!message.isRead" mat-list-icon>remove_red_eye</mat-icon>
            </span>  

            </div>


          <mat-form-field style="width: 100%;" *ngIf="message.showTextInput">
            <mat-label>Comments</mat-label>
            <textarea style="overflow:hidden;"
                      placeholder="Write here your comments or message"
                      matInput
                      cdkTextareaAutosize
                      required
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="2"
                      [value]="message.description"
                      cdkAutosizeMaxRows="5"></textarea>
                      <mat-icon matTooltip="Save" matSuffix style="color:green; cursor: pointer;">done</mat-icon>
                      <mat-icon matTooltip="Cancel" (click)="message.showTextInput=false" matSuffix style="color: red; cursor: pointer;">clear</mat-icon>
                      <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
          </mat-form-field>
         

           
        </div>
        <div *ngIf="issue.messages.length>0" style="margin-top:10px;">
          <button mat-stroked-button 
          (click)="issue.showNewTextInput=true" 
          *ngIf="!issue.showNewTextInput && issue.messages[issue.messages.length-1].isRead"
          color="primary">
            <mat-icon mat-list-icon>add_comment</mat-icon>
            Write a message
          </button>
          <mat-form-field style="width: 100%;" *ngIf="issue.showNewTextInput">
            <mat-label>Comments</mat-label>
            <textarea style="overflow:hidden;"
                      placeholder="Write here your comments or message"
                      matInput
                      cdkTextareaAutosize
                      required
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="5"></textarea>
                      <!-- <span matPrefix>Stella: &nbsp;</span> -->
                    
                      <mat-icon matTooltip="Save" matSuffix style="color:green; cursor: pointer;">done</mat-icon>
                      <mat-icon matTooltip="Cancel" (click)="issue.showNewTextInput=false; accordion.closeAll()" matSuffix 
                      style="color: red; cursor: pointer;">clear</mat-icon>
                      <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
          </mat-form-field>
        </div>
        </mat-expansion-panel>
       
      </mat-accordion>

     
    </mat-card-actions>
  </mat-card>
</div>

<!-- <span class="material-icons">
  mark_email_unread
  </span>
  <span class="material-icons">
    create
    </span>
    <span class="material-icons">
      add_comment
      </span> -->

<div style="display: none;" id="tbl">
    <table style="width: 100%;" mat-table [dataSource]="dataSourceIssues" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let issue">{{issue.id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="dateOpen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let issue">{{issue.dateOpen | date:'dd-MM-yyyy'}}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let issue">
          <span>  {{issue.title}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let issue">
          <span>  {{issue.description}}</span>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="apartment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apartment</th>
        <td mat-cell *matCellDef="let issue">{{issue.apartmentAddress}}</td>
      </ng-container> -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
        <td mat-cell *matCellDef="let issue">{{issue.priority}}</td>
      </ng-container>

  
  
      <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let issue">
          <button (click)="openForm(issue.id)" mat-button color="primary">Edit</button>
          <button (click)="delete(issue.id)" mat-button color="warn">Delete</button>
        </td>
      </ng-container> -->
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="printId(row.id)" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
    </table>
  
  </div>
  