<div class="container">
  <form [formGroup]="personalTransForm" (ngSubmit)="saveTransaction()">
    <h3><mat-icon>attach_money</mat-icon>{{title}} personal transaction</h3>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Stakeholder</mat-label>
        <mat-select formControlName="stakeholderId">
          <mat-option *ngFor="let stakeholder of stakeholders" [value]="stakeholder.id">
            {{stakeholder.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Transaction Type</mat-label>
        <mat-select formControlName="transactionType">
          <mat-option [value]="5">Money Transfer</mat-option>
          <mat-option [value]="10">Paid on Behalf</mat-option>
          <mat-option [value]="13">Cash Withdrawal</mat-option>
          <mat-option [value]="20">Distribution</mat-option>
        </mat-select>
      </mat-form-field>

    </fieldset>

    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Apartment</mat-label>
        <mat-select formControlName="apartmentId">
          <mat-option *ngFor="let apartment of apartments" [value]="apartment.id">
            {{apartment.address}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </fieldset>
    <mat-slide-toggle (change)="loadTransactions()" formControlName="showPurchaseCostOnly">Show Purchase Cost Only
    </mat-slide-toggle>
    <div 
    style="border:solid; 
    height: 200px;
    overflow:auto;
    background-color:
    aliceblue; 
    position: absolute;
    left: 0;
    top:50px"
      *ngIf="dataSourceTrans.data.length>0" id="transTbl">

      <!-- <p *ngFor="let item of dataSourceTrans.data">{{item.id}} | {{item.comments}}</p> -->


      <table mat-table [dataSource]="dataSourceTrans.data" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd-MM-yyyy'}}</td>
       </ng-container>
       <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let transaction">
          <!--how_to_reg-->
          <mat-icon matTooltip="Still not covered by the investor" *ngIf="transaction.personalTransactionId == 0">
            hourglass_full</mat-icon>
          <span [ngClass]="{
          positive: isPositive(transaction.amount),
          negative: !isPositive(transaction.amount)
        }">
            {{transaction.amount}}

          </span>

        </td>
  </ng-container>
  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.accountName}}</td>
  </ng-container>
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
    <td mat-cell *matCellDef="let transaction">
      {{transaction.comments}}
    </td>
  </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        </table>


    </div>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Amount</mat-label>
        <input formControlName="amount" matInput />
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Comments</mat-label>
        <textarea formControlName="comments"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </fieldset>


    <fieldset>
      <button mat-flat-button color="primary" type="submit" name="submit">Save</button>
    </fieldset>
  </form>
</div>
