<div class="container">
  <form [formGroup]="personalTransForm" (ngSubmit)="saveTransaction()">
    <h3><mat-icon>attach_money</mat-icon>{{title}} personal transaction</h3>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Stakeholder</mat-label>
        <mat-select formControlName="stakeholderId">
          <mat-option *ngFor="let stakeholder of stakeholders" [value]="stakeholder.id">
            {{stakeholder.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Transaction Type</mat-label>
        <mat-select formControlName="transactionType">
          <mat-option [value]="5">Money Transfer</mat-option>
          <mat-option [value]="10">Paid on Behalf</mat-option>
          <mat-option [value]="13">Cash Withdrawal</mat-option>
          <mat-option [value]="20">Distribution</mat-option>
        </mat-select>
      </mat-form-field>

    </fieldset>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Apartment</mat-label>
        <mat-select formControlName="apartmentId">
          <mat-option *ngFor="let apartment of apartments" [value]="apartment.id">
            {{apartment.address}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </fieldset>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Amount</mat-label>
        <input formControlName="amount" matInput />
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Comments</mat-label>
        <textarea formControlName="comments"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </fieldset>


    <fieldset>
      <button mat-flat-button color="primary" type="submit" name="submit">Save</button>
    </fieldset>
  </form>
</div>
