
.mat-accordion, .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  color: black !important;
}

table#portfolio {
  width: 100%;
}

.mat-footer-row {
  font-weight: bold;
}

.nav-link {
  padding: 0;
}
