
mat-card {
  height:650px ;
}

.mat-tab-header {
  background-color: antiquewhite !important;
}

#renovation .mat-expansion-panel-header-title, #renovation .mat-expansion-panel-header-description,
#expenses-no-renovation .mat-expansion-panel-header-title, #expenses-no-renovation .mat-expansion-panel-header-description {
  color: gray;
}

.align-icon {
  position: absolute;
  margin-left: 5px;
}
.percentage-icon {
  color: darkcyan;
}

/*::ng-deep .mat-tab-header {
  background-color: red;
}*/
