
mat-card {
  /*color: red;*/
  height:650px ;
}




.class1 {
  font: bold;
}
.class2 {
  color:rebeccapurple;
}

/*::ng-deep .mat-tab-header {
  background-color: red;
}*/
.mat-tab-header {
  background-color: antiquewhite !important;
}


