
mat-card {
  /*color: red;*/
  height:650px ;
}




.class1 {
  font: bold;
}
.class2 {
  color:rebeccapurple;
}

/*::ng-deep .mat-tab-header {
  background-color: red;
}*/
.mat-tab-header {
  background-color: antiquewhite !important;
}

#renovation .mat-expansion-panel-header-title, #renovation .mat-expansion-panel-header-description,
#expenses-no-renovation .mat-expansion-panel-header-title, #expenses-no-renovation .mat-expansion-panel-header-description {
  color: gray;
}

/*#renovation .mat-content {
  color: rebeccapurple !important
}*/

.test {
background-color:aqua !important
}
