<h1>Transactions</h1>

<p>This component demonstrates fetching data from the server.</p>
<!--<p *ngIf="!dataSource.data"><em>Loading...</em></p>-->
<p *ngIf="!dataSource"><em>Loading...</em></p>

<button mat-mini-fab (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
<mat-form-field>
  <input type="text" matInput (keyup)="doFilter($event.target.value)" [(ngModel)]="selectedApartment" name="selectedApartment">
</mat-form-field>

<!--<app-renovation [data]="generalLines"></app-renovation>-->
<transactions-table [dataSourceObj]="dataSource" [dataList]="transactions" [sort]="sort"
                    [displayedColumns]="[ 'date', 'apartmentId','accountId' , 'amount', 'isPurchaseCost', 'comments']">

</transactions-table>


<hr />
<br /><br />



<!--<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd-MM-yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
    <td mat-cell
        [ngClass]="{
          positive: isPositive(transaction.amount),
          negative: !isPositive(transaction.amount)
        }"
        *matCellDef="let transaction">
      {{transaction.amount}}
    </td>
  </ng-container>
  <ng-container matColumnDef="apartmentId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Apartment</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.apartmentAddress}}</td>
  </ng-container>
  <ng-container matColumnDef="accountId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.accountName}}</td>
  </ng-container>
  <ng-container matColumnDef="isPurchaseCost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>IsPurchaseCost</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.isPurchaseCost}}</td>
  </ng-container>
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.comments}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>-->





<!-- <table class='table table-striped' *ngIf="transactions">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Apartment</th>
      <th>Account</th>
      <th>IsPurchaseCost</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.apartmentAddress }}</td>
      <td>{{ transaction.accountName }}</td>
      <td>{{ transaction.isPurchaseCost }}</td>
      <td>{{ transaction.comments }}</td>
    </tr>
  </tbody>
</table> -->
