<form [formGroup]="issueForm" (ngSubmit)="save()">
    <fieldset>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Title">
        </mat-form-field>
    </fieldset>
    <fieldset>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput placeholder="Description"></textarea>
        </mat-form-field>
    </fieldset>
    <fieldset>
        <mat-form-field appearance="outline">
            <mat-label>Open Date</mat-label>
            <input formControlName="dateOpen" matInput [matDatepicker]="picker" placeholder="Open Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </fieldset>
    <fieldset>
        <mat-form-field appearance="outline">
            <mat-label>Close Date</mat-label>
            <input formControlName="dateClose" matInput [matDatepicker]="picker2" placeholder="Close Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </fieldset>
    <fieldset>
        <mat-form-field appearance="outline">
            <mat-label>Due Date</mat-label>
            <input formControlName="dateDue" matInput [matDatepicker]="picker3" placeholder="Due Date">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
    </fieldset>
    <fieldset>


        <mat-form-field style="width: 58%; margin-right:2% " appearance="outline">
            <mat-label>Apartment</mat-label>
            <mat-select formControlName="apartmentId">
                <mat-option *ngFor="let apartment of apartments" [value]="apartment.id">
                    {{apartment.address}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 8%; margin-left:2% ;" apprearance="outline">
            <mat-label>Priprity</mat-label>
            <input formControlName="priority" matInput type="number" max="3" min="1" placeholder="Priority">
        </mat-form-field>
        <mat-checkbox style="width: 28%; margin-left:2% " formControlName="isNew">
            Mark As New</mat-checkbox>

    </fieldset>
    <fieldset>
        <mat-button-toggle-group *hasClaim="['admin']" formControlName="stakeholderId">
            <mat-button-toggle [value]=1>Yuval</mat-button-toggle>
            <mat-button-toggle [value]=2>Stella</mat-button-toggle>
        </mat-button-toggle-group>
    </fieldset>
    <fieldset>
        <button mat-flat-button style="background-color: green;" color="primary" name="submit" type="submit">
            Save
            <mat-icon>check_circle</mat-icon>
        </button>
    </fieldset>
</form>