<div class="container">
  <form [formGroup]="transactionFormGroup" (ngSubmit)="saveTransaction()">
    <h3>
      <mat-icon>cached</mat-icon>{{title}} transaction
    </h3>

    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field style="width: 30%" appearance="outline" class="example-full-width">
        <mat-label>Amount (€)</mat-label>
        <input matInput formControlName="amount" type="text" required placeholder="Amount (€)">
        <!--<input matInput formControlName="personalTransactionId" type="text" placeholder="Personal Transaction Id">-->

      </mat-form-field>
      <mat-checkbox style="width: 30%; padding-left: 25px" formControlName="isConfirmed">
        Confirmed?
      </mat-checkbox>
      <mat-checkbox style="width: 30%; padding-left: 25px" formControlName="isBusinessExpense">
        Business?
      </mat-checkbox>

    </fieldset>
    <fieldset>
      <mat-form-field style="width: 50%" appearance="outline">
        <mat-label>Transaction Type</mat-label>
        <mat-select [disabled]="transactionFormGroup.controls.personalTransactionId.value>0"
          formControlName="personalTransactionId">
          <mat-option [value]="0">Not covered yet</mat-option>
          <mat-option [value]="-1">Via bank account</mat-option>
          <mat-option [value]="-2">Project funds</mat-option>
          <mat-option [value]="-4">Future payment</mat-option>
          <mat-option [value]="-3">Not relevant</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 50%" appearance="outline">
        <mat-label>Personal Transaction ID</mat-label>
        <input matInput formControlName="personalTransactionId"
          [value]="transactionFormGroup.controls.personalTransactionId.value" type="text" required>
      </mat-form-field>

    </fieldset>

    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Apartment</mat-label>
        <mat-select formControlName="apartmentId">
          <mat-option *ngFor="let apartment of apartments" [value]="apartment.id">
            {{apartment.address}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </fieldset>
    <fieldset>
      <mat-form-field style="width: 50%" appearance="outline">
        <mat-label>GL Acount</mat-label>
        <mat-select formControlName="accountId">
          <mat-option *ngFor="let account of accounts" [value]="account.id">
            {{account.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox *ngIf="transactionFormGroup.value.accountId!=1" style="width: 50%; padding-left: 25px"
        formControlName="isPurchaseCost">
        Purchase Cost?
      </mat-checkbox>
      <mat-checkbox *ngIf="transactionFormGroup.value.accountId==1" style="width: 50%; padding-left: 25px"
        formControlName="includeAllRentTrans">
        Include trans?
      </mat-checkbox>

    </fieldset>

    <fieldset>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Comments</mat-label>
        <textarea formControlName="comments" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </fieldset>


    <fieldset>
      <button mat-flat-button color="primary" type="submit" name="submit">Save</button>
    </fieldset>

  </form>
</div>