<div class="container">
  <form [formGroup]="transactionFormGroup" (ngSubmit)="saveTransaction()">
    <h3><mat-icon>cached</mat-icon>{{title}} transaction</h3>

    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field style="width: 25%" appearance="outline" class="example-full-width">
        <mat-label>Amount (€)</mat-label>
        <input matInput formControlName="amount" type="text" required placeholder="Amount (€)">
        <!--<input matInput formControlName="personalTransactionId" type="text" placeholder="Personal Transaction Id">-->

      </mat-form-field>
      <mat-checkbox style="width: 25%; padding-left: 25px" formControlName="isConfirmed">
        Confirmed?
      </mat-checkbox>
      <mat-checkbox style="width: 25%; padding-left: 25px" formControlName="isBusinessExpense">
        Business?
      </mat-checkbox>
      <input class="flex-container-child" matInput
             formControlName="personalTransactionId"
             value="{{group.value}}"
             type="text" required>
      <!--<mat-form-field style="width: 20%; background-color:rebeccapurple" appearance="outline" class="example-full-width">
    <mat-label>test</mat-label>
  </mat-form-field>-->
      <!--<div class="flex-container">
    <div class="flex-container-child">2</div>
    <input class="flex-container-child" style="width:50px; background-color:antiquewhite" type="text">
    <div class="flex-container-child">3</div>
  </div>-->
      <!--<input style="width: 25%;padding-left: 25px; background-color:rebeccapurple"
  matInput value="-4" type="text"
  required placeholder="personal TransactionId">-->
      <!--<mat-slide-toggle formControlName="isConfirmed">Confirmed</mat-slide-toggle>-->

    </fieldset>
    <fieldset>
      <mat-button-toggle-group formControlName="personalTransactionId"
                               #group="matButtonToggleGroup"
                               value="{{transactionFormGroup.controls.personalTransactionId.value}}">
        <mat-button-toggle value="0" aria-label="Text align left">
          <!--<mat-icon>format_align_left</mat-icon>-->
          Not covered yet
        </mat-button-toggle>
        <mat-button-toggle value="-1" aria-label="Text align center">
          Via bank
          <!--<mat-icon>format_align_center</mat-icon>-->
        </mat-button-toggle>
        <mat-button-toggle value="-2" aria-label="Text align right">
          From funds
          <!--<mat-icon>format_align_right</mat-icon>-->
        </mat-button-toggle>
        <mat-button-toggle value="-3" aria-label="Text align right">
          <!--<mat-icon>format_align_right</mat-icon>-->
          Not relevant
        </mat-button-toggle>
        <!--<mat-button-toggle value="insert code" disabled aria-label="Text align justify">
          <mat-icon>format_align_justify</mat-icon>
        </mat-button-toggle>-->
      </mat-button-toggle-group>
      <!--<span class="example-selected-value">Selected value: {{group.value}}</span>-->


    </fieldset>


    <!--<fieldset>
      <mat-form-field style="width: 50%" appearance="outline" class="example-full-width">
        <mat-label>test</mat-label>
              <input matInput formControlName="personalTransactionId" type="text" required placeholder="personal TransactionId">
      </mat-form-field>
    </fieldset>-->
    <!--<fieldset style="height: 33px;">
      <mat-slide-toggle (change)="switchIsCovered()"
                        [checked]="transactionFormGroup.controls.personalTransactionId.value==-1"
                        [ngClass]="{'toggleOff':transactionFormGroup.controls.personalTransactionId.value==-1}"
                        [disabled]="disableCoveredSwitch">
        Paid with investor
      </mat-slide-toggle>
      <span [ngClass]="{'toggleOff':transactionFormGroup.controls.personalTransactionId.value==-1}">
        (personalTransactionId:{{transactionFormGroup.controls.personalTransactionId.value}})
      </span>
    </fieldset>-->
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Apartment</mat-label>
        <mat-select formControlName="apartmentId">
          <mat-option *ngFor="let apartment of apartments" [value]="apartment.id">
            {{apartment.address}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </fieldset>
    <fieldset>
      <mat-form-field style="width: 50%" appearance="outline">
        <mat-label>GL Acount</mat-label>
        <mat-select formControlName="accountId">
          <mat-option *ngFor="let acount of accounts" [value]="acount.id">
            {{acount.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox style="width: 50%; padding-left: 25px" formControlName="isPurchaseCost">
        Purchase Cost?
      </mat-checkbox>
    </fieldset>

    <fieldset>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Comments</mat-label>
        <textarea formControlName="comments"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </fieldset>


    <fieldset>
      <button mat-flat-button color="primary" type="submit" name="submit">Save</button>
    </fieldset>

  </form>
</div>
