<div class="container">
  <form [formGroup]="transactionFormGroup" (ngSubmit)="saveTransaction()">
    <h3><mat-icon>cached</mat-icon>{{title}} transaction</h3>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </fieldset>
    <fieldset>
      <mat-form-field style="width: 50%" appearance="outline" class="example-full-width">
        <mat-label>Amount (€)</mat-label>
        <input matInput formControlName="amount" type="text" required placeholder="Amount (€)">

      </mat-form-field>
      <mat-checkbox style="width: 50%; padding-left: 25px" formControlName="isCoveredByInvestor">Covered by Investor?</mat-checkbox>
      <input matInput formControlName="personalTransactionId" type="text" required placeholder="Personal Transaction Id">
    </fieldset>
    <fieldset>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Apartment</mat-label>
        <mat-select formControlName="apartmentId">
          <mat-option *ngFor="let apartment of apartments" [value]="apartment.id">
            {{apartment.address}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </fieldset>
    <fieldset>
      <mat-form-field style="width: 50%" appearance="outline">
        <mat-label>GL Acount</mat-label>
        <mat-select formControlName="accountId">
          <mat-option *ngFor="let acount of accounts" [value]="acount.id">
            {{acount.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox style="width: 50%; padding-left: 25px" formControlName="isPurchaseCost">Purchase Cost?</mat-checkbox>
    </fieldset>

    <fieldset>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Comments</mat-label>
        <textarea formControlName="comments"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </fieldset>


    <fieldset>
      <button mat-flat-button color="primary" type="submit" name="submit">Save</button>
    </fieldset>

  </form>
</div>
