<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
    </ng-container>
  
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd-MM-yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let transaction">
            <mat-icon matTooltip="Still not covered by the investor" *ngIf="transaction.personalTransactionId == 0">
              hourglass_full</mat-icon>
            <span [ngClass]="{
            positive: isPositive(transaction.amount),
            negative: !isPositive(transaction.amount)
          }">
              {{transaction.amount}}
  
            </span>
  
          </td>
        </ng-container>
        <ng-container matColumnDef="apartmentId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apartment</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.apartmentAddress}}</td>
        </ng-container>
        <ng-container matColumnDef="isPurchaseCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let transaction">
            <mat-icon matTooltip="Purchase cost" *ngIf="transaction.isPurchaseCost">home_work</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="accountId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.accountName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="comments">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
          <td mat-cell *matCellDef="let transaction">
            {{transaction.comments}}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let transaction">
  
            <button (click)="openForm(transaction.id)" mat-button color="primary">Edit</button>
            <button (click)="delete(transaction.id)" mat-button color="warn">Delete</button>
            <button *ngIf="!transaction.isConfirmed" (click)="confirm(transaction.id)" mat-button
              color="green">Confirm</button>
            <mat-icon *ngIf="transaction.isConfirmed" matTooltip="Confirmed">check_circle</mat-icon>
  
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        </table>