<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">

          <ng-container *ngIf="securityObject.isAuthenticated">
            <!--<li  *hasClaim="'canViewReports'" class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="nav-link text-dark" [routerLink]='["/investor-reports",userId]'>Investment Reports</a>
  </li>-->
            <!--<li *ngIf="role==1" class="nav-item" [routerLinkActive]='["link-active"]'>-->
            <li *hasClaim="['admin']" class="nav-item" [routerLinkActive]='["link-active"]'>
              <a mat-button class="nav-link text-dark" [matMenuTriggerFor]="menu">Investors Reports</a>
              <mat-menu #menu="matMenu">

                <button *hasClaim="['ohad','admin']" [routerLink]='["/investor-reports",101]' class="nav-link text-dark"
                  mat-menu-item>Ohad</button>
                <button *hasClaim="['avi','admin']" [routerLink]='["/investor-reports",102]' class="nav-link text-dark"
                  mat-menu-item>Avi</button>
                <button *hasClaim="['etai','admin']" [routerLink]='["/investor-reports",103]' class="nav-link text-dark"
                  mat-menu-item>Etai</button>
                <button *hasClaim="['naphtali','admin']" [routerLink]='["/investor-reports",104]'
                  class="nav-link text-dark" mat-menu-item>Naphtali</button>
                <!--<button *hasClaim="['shosh','admin']" [routerLink]='["/investor-reports",105]' class="nav-link text-dark" mat-menu-item>Shosh</button>-->

              </mat-menu>
            </li>
            <ng-container *hasClaim="['admin']">
              <!--<li *ngIf="role==1" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>-->
              <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav-link text-dark" [routerLink]='["/reports/1/rented"]'>Rented</a>
              </li>

              <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav-link text-dark" [routerLink]='["/reports/8/inproc"]'>In Process</a>
              </li>

              <li class="nav-item" [routerLinkActive]='["link-active"]'>
                <a class="nav-link text-dark" [routerLink]='["/fetch-transactions"]'>Transactions</a>
              </li>

              <li class="nav-item" [routerLinkActive]='["link-active"]'>
                <a class="nav-link text-dark" [routerLink]='["/personal-admin","101"]'>Personal Transactions</a>
              </li>
            </ng-container>

            <li *hasClaim="['admin','stella']" class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" [routerLink]='["/issue-list"]'>Open Issues</a>
            </li>
            <li *hasClaim="['stella','admin']" class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" [routerLink]='["/expenses"]'>Expenses & Hours</a>
            </li>
            <li *hasClaim="['stella','admin']" class="nav-item" [routerLinkActive]='["link-active"]'>
              <a mat-button class="nav-link text-dark" [matMenuTriggerFor]="menu">Renovation</a>
              <mat-menu #menu="matMenu">
                <!-- <button *hasClaim="['admin']" [routerLink]='["/planning"]' class="nav-link text-dark" mat-menu-item>Planning</button> -->
                <button *hasClaim="['stella','admin']" [routerLink]='["/products"]' class="nav-link text-dark"
                  mat-menu-item>Products</button>
                <button *hasClaim="['stella','admin']" [routerLink]='["/renovation-overview",6]'
                  class="nav-link text-dark" mat-menu-item>Acharnon</button>
                <button *hasClaim="['stella','admin']" [routerLink]='["/renovation-overview",5]'
                  class="nav-link text-dark" mat-menu-item>Filotiou</button>
                <button *hasClaim="['stella','admin']" [routerLink]='["/renovation-overview",4]'
                  class="nav-link text-dark" mat-menu-item>Lithis</button>
                <button *hasClaim="['stella','admin']" [routerLink]='["/renovation-overview",3]'
                  class="nav-link text-dark" mat-menu-item>Ionias</button>
                <button *hasClaim="['stella','admin']" [routerLink]='["/renovation-overview",2]'
                  class="nav-link text-dark" mat-menu-item>Makedonias</button>
                <button *hasClaim="['stella','admin']" [routerLink]='["/renovation-overview",1]'
                  class="nav-link text-dark" mat-menu-item>Mavromichali</button>
              </mat-menu>
            </li>
            <li *hasClaim="['admin', 'stella']" class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" [routerLink]='["/contract-list"]'>Contracts</a>
            </li>
            <li *hasClaim="['admin', 'stella']" class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" [routerLink]='["/insurance-list"]'>Insurances</a>
            </li>
          </ng-container>



        </ul>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-row-reverse" [ngClass]='{"show": isExpanded}'>
        <!--asdfasdfasdf
        {{securityObject.userName}}-->
        <ul class="navbar-nav flex-grow">

          <!--<li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a *ngIf="!securityObject.isAuthenticated" class="nav-link text-dark" [routerLink]='["/login"]'>Login</a>

          </li>-->
          <li>
            <ng-container *ngIf="securityObject.isAuthenticated">
              <!--<a href="#" > Hello {{securityObject.userName}}</a>-->
              <a href="#" class="nav-link text-dark" (click)="logout()">
                <span title="Logout ({{securityObject.userName}})" class="material-icons">
                  exit_to_app
                </span>
              </a>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>