

<mat-drawer-container >
  <mat-drawer mode="side" opened>

    <mat-nav-list style="width:150px">
      <i>Stakeholders</i>

      
      <a mat-list-item *ngFor="let stakeholder of stakeholders" [routerLink]="['/personal-admin',stakeholder.id]" routerLinkActive="link-active"> {{stakeholder.name}}</a>
      <!--<a mat-list-item routerLink="/personal-admin/1" routerLinkActive="router-link-active"> Ohad</a>
      <a mat-list-item routerLink="/personal-admin/2" routerLinkActive="router-link-active"> test</a>-->

    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>
    <!--Personal account balance is <b>€ {{balance}}</b>-->
    <app-personal-trans [stakeholderId]="stakeholderId"></app-personal-trans>
  </mat-drawer-content>
</mat-drawer-container>

