<h3>Open Issues</h3>

<!-- <message-box></message-box> -->
<!-- *hasClaim="['admin']" -->
<button *hasClaim="['admin']"  mat-mini-fab (click)="openIssueForm()" title="Add New">
  <mat-icon>add</mat-icon>
</button>

<mat-accordion *ngFor="let item of openIssues">
  <mat-expansion-panel (opened)="onPanelOpened(item)"
  [hideToggle]='false'>
    <mat-expansion-panel-header  
    [ngClass]="{'priority-high':item.priority==1, 'priority-mid':item.priority==2,'priority-low':item.priority==3}">
      <mat-panel-title  style="cursor: pointer;"
      [ngClass]="{'priority-high':item.priority==1, 'priority-mid':item.priority==2,'priority-low':item.priority==3}">
          {{item.title}}
          <mat-icon *ngIf="item.description">article</mat-icon>
      </mat-panel-title>
      <mat-panel-description [ngClass]="{'priority-high':item.priority==1, 'priority-mid':item.priority==2,'priority-low':item.priority==3}">
        <span  matTooltip="Creation date" >  {{item.dateOpen | date:'dd-MM-yyyy'}}</span>
          <mat-icon *ngIf="item.isNew" matTooltip="New or updated">fiber_new</mat-icon>
          <mat-icon *ngIf="item.unreadByMe" matTooltip="New message">mark_email_unread</mat-icon>
          <mat-icon *ngIf="item.unreadByOthers" matTooltip="Message sent">forward_to_inbox</mat-icon>
          
      </mat-panel-description>
   
    </mat-expansion-panel-header>
    <p> {{item.description}}</p>
    
    <mat-icon *ngIf="!item.unreadByOthers && !item.unreadByMe" style="cursor: pointer;"
     matTooltip="Wtite a message" 
     (click)="openMessages(item.id)">mail_outline</mat-icon>
     <mat-icon *ngIf="item.unreadByMe" style="cursor: pointer;"
     (click)="openMessages(item.id)">
      mark_email_unread
     </mat-icon>
     <mat-icon *ngIf="item.unreadByOthers" style="cursor: pointer;"
     matTooltip="Wtite a message" 
     (click)="openMessages(item.id)">
     forward_to_inbox
     </mat-icon>
    <ng-container *hasClaim="['admin']">
    <mat-icon style="cursor: pointer;" (click)="delete(item.id)">delete</mat-icon>
    <mat-icon style="cursor: pointer;" (click)="openIssueForm(item)">edit</mat-icon>
    </ng-container>
    
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion *ngIf="closedIssues && closedIssues.length>0">
  <mat-expansion-panel 
  [hideToggle]='false'>
    <mat-expansion-panel-header style="font-weight: bold;">
Closed Issues
    </mat-expansion-panel-header>     
     <mat-panel-title>
      </mat-panel-title>
      <mat-panel-description >
      </mat-panel-description>
   
      <div *ngFor="let item of closedIssues">
        {{item.title}}
      </div>
    <!-- <mat-icon style="cursor: pointer;" (click)="delete(item.id)">delete</mat-icon>
    <mat-icon style="cursor: pointer;" (click)="openIssueForm(item)">edit</mat-icon>
    <mat-icon style="cursor: pointer;" (click)="openMessages(item.id)">mail</mat-icon>
     -->
  </mat-expansion-panel>
</mat-accordion>

