<h1>Reports</h1>
<p *ngFor="let trans of transactions">{{trans.amount}}</p>
<mat-tab-group dynamicHeight="true">
  <mat-tab label="Summary">
    <mat-card>
      <mat-card-title>Investment Summary</mat-card-title>
      <mat-list *ngIf="summaryReport">
        <mat-list-item>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <span style="width:260px">Investment</span>
          <span [ngClass]="'positive'">{{summaryReport.investment | currency:'EUR' : number:'1.0-0'}}</span>
        </mat-list-item>
        <!--<mat-divider></mat-divider>-->
        <mat-list-item>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <span style="width:260px">Net Income up-to-date</span>
          <span [ngClass]="'positive'">{{summaryReport.netIncome| currency:'EUR' : number:'1.0-0'}}</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <span style="width:260px">Initial Remainder</span>
          <span [ngClass]="'positive'">{{summaryReport.initialRemainder| currency:'EUR' : number:'1.0-0'}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <span matTooltip="Net income + Initial remainder" style="width:260px">Balance</span>
          <span style="font-weight:bold" [ngClass]="'positive'">{{summaryReport.balance| currency:'EUR' : number:'1.0-0'}}</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <span style="width:260px">Predicted ROI (rent)</span>
          <span>{{summaryReport.predictedROI|percent:'1.1'}} </span>
        </mat-list-item>

        <!--<mat-divider></mat-divider>-->
        <mat-list-item>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <span style="width:260px">ROI up-to-date (rent)</span>
          <span>{{summaryReport.roi|percent:'1.1'}} </span>
        </mat-list-item>

      </mat-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="Income Report">
    <mat-card>
      <mat-card-title>Income Report</mat-card-title>
      <mat-card-subtitle>
        <form #yearForm="ngForm">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Year</mat-label>
            <mat-select (selectionChange)="onChange($event)" [(ngModel)]="selectedYear" placeholder="Placeholder" name="selectedYear">
              <mat-option [value]="0">All</mat-option>
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-subtitle>
      <mat-card-content>


        <mat-accordion id="report" *ngIf="incomeReport">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Gross Income</span>
              </mat-panel-title>
              <mat-panel-description>
                <span [ngClass]="'positive'">{{incomeReport.grossIncome | currency:'EUR' : number:'1.0-0'| minusSignToParens}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Expenses</span>
              </mat-panel-title>
              <mat-panel-description>
                <mat-list-item>
                  <span [ngClass]="'negative'">{{incomeReport.expenses| currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
                </mat-list-item>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item (click)="showTrans(account.accountId, account.name, false)" style="color:#3764ad" *ngFor="let account of incomeReport?.accountsSum" id="{{account.accountId}}">
                <mat-icon mat-list-icon>business_center</mat-icon><!--#8a5050-->
                <span>{{account.name}}</span>
                <span>{{account.total | currency:'EUR' : number:'1.0-1'}}</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Tax</span>
              </mat-panel-title>
              <mat-panel-description>
                <span [ngClass]="'negative'">{{incomeReport.tax | currency:'EUR' : number:'1.0-0'| minusSignToParens}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Net Income</span>
              </mat-panel-title>
              <mat-panel-description>
                <span style="font-weight:bold" [ngClass]="{
          positive: isPositive(incomeReport.netIncome),
          negative: !isPositive(incomeReport.netIncome)
        }">{{incomeReport.netIncome | currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>

      </mat-card-content>
    </mat-card>

  </mat-tab>
  <mat-tab label="Purchase Report">
    <mat-card>
      <mat-card-title>Purchase Report</mat-card-title>

      <mat-card-content>

        <mat-accordion id="report" *ngIf="purchaseReport">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Investment</span>
              </mat-panel-title>
              <mat-panel-description>
                <span [ngClass]="{
          positive: isPositive(purchaseReport.investment),
          negative: !isPositive(purchaseReport.investment)
        }">{{purchaseReport.investment | currency:'EUR' : number:'1.0-0'| minusSignToParens}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Total Cost</span>
              </mat-panel-title>
              <mat-panel-description>
                <mat-list-item>
                  <span [ngClass]="{
          positive: isPositive(purchaseReport.totalCost),
          negative: !isPositive(purchaseReport.totalCost)
        }">{{purchaseReport.totalCost| currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
                </mat-list-item>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item (click)="showTrans(account.accountId, account.name, true)" style="color:#3764ad" *ngFor="let account of purchaseReport?.accountsSum" id="{{account.accountId}}">
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>{{account.name}}</span>
                <span>{{account.total | currency:'EUR' : number:'1.0-1'}}</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>



          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Renovation Cost</span>
              </mat-panel-title>
              <mat-panel-description>
                <span [ngClass]="{
          positive: isPositive(purchaseReport.renovationCost),
          negative: !isPositive(purchaseReport.renovationCost)
        }">{{purchaseReport.renovationCost | currency:'EUR' : number:'1.0-0'| minusSignToParens}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Expenses without renovation</span>
              </mat-panel-title>
              <mat-panel-description>
                <span [ngClass]="{
          positive: isPositive(purchaseReport.expensesNoRenovation),
          negative: !isPositive(purchaseReport.expensesNoRenovation)
        }">{{purchaseReport.expensesNoRenovation | currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon>business_center</mat-icon>
                <span>Remanider</span>
              </mat-panel-title>
              <mat-panel-description>
                <span style="font-weight:bold" [ngClass]="{
          positive: isPositive(purchaseReport.remainder),
          negative: !isPositive(purchaseReport.remainder)
        }">{{purchaseReport.remainder | currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>






<!--<mat-list *ngIf="incomeReport">
  <mat-list-item>
    <mat-icon mat-list-icon>business_center</mat-icon>
    <span style="width:260px">Gross Income</span>
    <span [ngClass]="'positive'">{{incomeReport.grossIncome | currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>business_center</mat-icon>
    <span style="width:260px">Expenses</span>
    <span [ngClass]="'negative'">{{incomeReport.expenses| currency:'EUR' : number:'1.0-0' | minusSignToParens }}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>business_center</mat-icon>
    <span style="width:260px">Tax</span>
    <span [ngClass]="'negative'">{{incomeReport.tax| currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>business_center</mat-icon>
    <span style="width:260px">Net Income</span>
    <span [ngClass]="{
  positive: isPositive(incomeReport.forDistribution),
  negative: !isPositive(incomeReport.forDistribution)
}">{{incomeReport.netIncome| currency:'EUR' : number:'1.0-0'| minusSignToParens}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>business_center</mat-icon>
    <span style="width:260px">Available For Distribution</span>
    <span [ngClass]="{
  positive: isPositive(incomeReport.forDistribution),
  negative: !isPositive(incomeReport.forDistribution)
}">{{incomeReport.forDistribution| currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
  </mat-list-item>
</mat-list>-->
