<h1 mat-dialog-title style="font-weight:bold">{{data.accountName}}</h1>


<table id="transactions-popup" mat-table [dataSource]="data.transactions">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.id }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd-MM-yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount| currency:'EUR' : number:'1.0-1'}}</td>
  </ng-container>

  <ng-container matColumnDef="isPurchaseCost">
    <th mat-header-cell *matHeaderCellDef>IsPurchaseCost</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.isPurchaseCost}}</td>
  </ng-container>
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef>Comments</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.comments}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="transactionColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: transactionColumns"></tr>

</table>



<!--<table mat-table [dataSource]="data.transactions" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd-MM-yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount}}</td>
  </ng-container>

  <ng-container matColumnDef="isPurchaseCost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>IsPurchaseCost</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.isPurchaseCost}}</td>
  </ng-container>
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.comments}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="transactionColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: transactionColumns"></tr>

</table>-->


<!--<div>


  <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="{{data}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
    </ng-container>
  </table>

  <mat-list *ngFor="let trans of data">
    <mat-list-item>
      <mat-icon mat-list-icon>business_center</mat-icon>
      <span style="width:260px">{{trans.date}}</span>
      <span [ngClass]="'positive'">{{incomeReport.grossIncome | currency:'EUR' : number:'1.0-0' | minusSignToParens}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>

</div>-->
<!--<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>-->
